@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-container {
  width: 480px;
}

/* Media queries Swiper  Component */
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-container {
    width: 397px;
    padding-left: 23px;
  }
  .slide-content {
    width: 270px;
  }
}

@media (min-width: 180px) and (max-width: 769px) {
  .swiper-container {
    padding-left: 50px;
  }
  .slide-content {
    width: 250px;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  .swiper-container {
    width: 768px;
  }
}
